<!doctype html>  
<!--[if lt IE 7 ]><html lang=en class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang=en class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang=en class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title></title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="../stylesheets/screen.css">
  <link rel="stylesheet" href="../stylesheets/jquery.mobile-1.0a2.css">

  <script src="javascripts/libs/modernizr-1.6.min.js"></script>

</head>

<body id="taxonomy">
  
  <header>
    <nav id="core-nav">
      <img src="../images/dogradio/logo.png" width="300" height="58" alt="Logo S1">
      <form action="#" >
        <input type="search" id="s1" placeholder="Search">
      </form>
      <a href="#">products</a>
      <a href="#">help</a>
      <a href="#">my account</a>
      <a href="#">cart($0.00)</a>
    </nav>
  </header>
  
  <div id="container">

    <div id="banner" role="banner">
		<span>Satellite Radios</span>
        <img src="../images/dogradio/radio_s1.gif" width="383" alt="Satellite Radios">
    </div>
    <div id="main" role="main">
		<div id="products" role="products">
			<div><span>Products &#187; Boom Boxes</span><span class="paginate">View: 5 10 | &#8226; Prev 1 2 .. 11 12 Next &#8227;</span></div>

			<!-- START PRODUCT -->
			<div class="product" role="product">
				<h3><a href="#">Sirius Universal Plug and Play Boombox SUBX2</a></h3>
				<ul>
					<li>
						<img src="../images/dogradio/boombox_s1.gif" width="266" height="92" alt="Boombox S1" class="image">
					</li>
					<li>
						<h2>IN STOCK</h2>
						<h3><span>$99.99</span> $89.99</h3>
						<a href="#">VIEW MORE</a>
					</li>
				</ul>
				<div>Stylish, refined and versatile, the SIRIUS Speaker Dock is compatible with most Dock &amp; Play radios with universal docking capability and delivers SIRIUS Satellite Radio in crisp, dynamic stereo sound. The Speaker Dock is an elegant addition to any home or office ––and a concealed handle and battery, .... <a href="#">...more</a></div>
			</div>
			<!-- END PRODUCT -->
		    <!-- START PRODUCT -->
			<div class="product" role="product">
				<h3><a href="#">Sirius Universal Plug and Play Boombox SUBX2</a></h3>
				<ul>
					<li>
						<img src="../images/dogradio/boombox_s1.gif" width="266" height="92" alt="Boombox S1" class="image">
					</li>
					<li>
						<h2>IN STOCK</h2>
						<h3><span>$99.99</span> $89.99</h3>
						<a href="#">VIEW MORE</a>
					</li>
				</ul>
				<div>Stylish, refined and versatile, the SIRIUS Speaker Dock is compatible with most Dock &amp; Play radios with universal docking capability and delivers SIRIUS Satellite Radio in crisp, dynamic stereo sound. The Speaker Dock is an elegant addition to any home or office ––and a concealed handle and battery, .... <a href="#">...more</a></div>
			</div>
			<!-- END PRODUCT -->
			<!-- START PRODUCT -->
			<div class="product" role="product">
				<h3><a href="#">Sirius Universal Plug and Play Boombox SUBX2</a></h3>
				<ul>
					<li>
						<img src="../images/dogradio/boombox_s1.gif" width="266" height="92" alt="Boombox S1" class="image">
					</li>
					<li>
						<h2>IN STOCK</h2>
						<h3><span>$99.99</span> $89.99</h3>
						<a href="#">VIEW MORE</a>
					</li>
				</ul>
				<div>Stylish, refined and versatile, the SIRIUS Speaker Dock is compatible with most Dock &amp; Play radios with universal docking capability and delivers SIRIUS Satellite Radio in crisp, dynamic stereo sound. The Speaker Dock is an elegant addition to any home or office ––and a concealed handle and battery, .... <a href="#">...more</a></div>
			</div>
			<!-- END PRODUCT -->
			<!-- START PRODUCT -->
			<div class="product clear" role="product">
				<h3><a href="#">Sirius Universal Plug and Play Boombox SUBX2</a></h3>
				<ul>
					<li>
						<img src="../images/dogradio/boombox_s1.gif" width="266" height="92" alt="Boombox S1" class="image">
					</li>
					<li>
						<h2>IN STOCK</h2>
						<h3><span>$99.99</span> $89.99</h3>
						<a href="#">VIEW MORE</a>
					</li>
				</ul>
				<div>Stylish, refined and versatile, the SIRIUS Speaker Dock is compatible with most Dock &amp; Play radios with universal docking capability and delivers SIRIUS Satellite Radio in crisp, dynamic stereo sound. The Speaker Dock is an elegant addition to any home or office ––and a concealed handle and battery, .... <a href="#">...more</a></div>
			</div>
			<!-- END PRODUCT -->
			<div><span>View: 5 10 | &#8226; Prev 1 2 .. 11 12 Next &#8227;</span></div>
		    </div>
    	</div>
	</div>
   	<div id="aside" role="aside">
		<div>
		<h2>ALL PRODUCTS</h2>
		<hr/>
		<ul>
			<li><a href="#">Holiday Sale Items</a></li>
			<li><a href="#">Slingbox &amp; Slingbox Accessories</a></li>
			<li><a href="#">Holiday Sale Items</a></li>
			<li><a href="#">SIRIUS XM Satellite Radios</a></li>
			<li><a href="#">Holiday Sale Items</a></li>
			<li><a href="#">Slingbox &amp; Slingbox Accessories</a></li>
			<li><a href="#">Holiday Sale Items</a></li>
			<li><a href="#">SIRIUS XM Satellite Radios</a></li>
			<li><a href="#">Holiday Sale Items</a></li>
			<li><a href="#">Slingbox &amp; Slingbox Accessories</a></li>
			<li><a href="#">Holiday Sale Items</a></li>
			<li><a href="#">SIRIUS XM Satellite Radios</a></li>			
		</ul>
		</div>
	</div>

  </div> 
  
  <footer>
    <div id="secondary">
      <img src="images/kid_s1.gif" width="204" height="413" alt="Kid S1">
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
  <script>!window.jQuery&&document.write(unescape('%3Cscript src="js/libs/jquery-1.4.4.min.js"%3E%3C/script%3E'));</script>
  <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
  <script>!$.mobile&&document.write(unescape('%3Cscript src="js/libs/jquery.mobile-1.0a2.min.js"%3E%3C/script%3E'));</script>
  <!-- Add Custom Scripts Here
    <script src='js/scripts.min.js'></script> 
  -->
  <!--[if lt IE 7 ]><script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script><![endif]-->
  <script>var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];(function(e,a){var c=e.createElement(a),b=e.getElementsByTagName(a)[0];c.async=true;c.src=("https:"==location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";b.parentNode.insertBefore(c,b)})(document,"script");</script>
  
</body>
</html>